<footer class="text-center py-4 mt-5 text-white">
  
    <div class="container">
      <p class="mb-0">&copy; 2025 Heimathafen Greifswald e.V.. Alle Rechte vorbehalten.</p>
            <small><a href="/impressum.html" class="text-white">Impressum</a> | <a href="/datenschutz.html" class="text-white">Datenschutz</a></small><br>
            <small>Folge uns auf <a href="https://www.facebook.com/HeimathafenGreifswald" class="text-white" target="_blank">Facebook</a> und <a href="https://www.instagram.com/HeimathafenGreifswald" class="text-white" target="_blank">Instagram</a></small>
        
  </footer>
  