<style>
    .custom-navbar {
      background-color: #466b8d;
    }
  
    .custom-navbar .nav-link,
    .custom-navbar .navbar-brand {
      color: #ffffff !important;
    }
  
    .custom-navbar .nav-link:hover {
      text-decoration: underline;
    }
  
    .navbar-toggler {
      border-color: rgba(255, 255, 255, 0.2);
    }
  
    .navbar-toggler-icon {
      filter: invert(1);
    }
  
    .navbar-brand img {
      height: 80px;
      margin: 0 auto;
      display: block;
    }
  </style>
  
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container d-flex flex-column align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/components/logo.png" alt="Logo"> Kleiderspende Portal Greifswald
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="index.html">Startseite</a></li>
          <li class="nav-item"><a class="nav-link" href="about.html">Über Uns</a></li>
          <li class="nav-item"><a class="nav-link" href="form.html">Kleiderspende</a></li>
          <li class="nav-item"><a class="nav-link" href="contact.html">Kontakt</a></li>
        </ul>
      </div>
    </div>
  </nav>
  